* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*consider padding and margin*/
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

header {
	background-color: #dac292;
	height: 150px;
}

header > div.logo {
	width: 50%;
	float: left;
	line-height: 150px;
	text-align: center;

}

header > div.h1 {
	line-height: 150px
	
}

header > nav {
	width: 50%;
	float: right;	
	text-align: center;
}	

.logo {

	font-size: 2em;
	color: #fff;
}

.logo > h1 > span {
	color: #b9936c;
}

nav > ul > li {
	display: inline-block;
	text-align: center;
	font-size: 0.8em;
	line-height: 150px;
} 

nav > ul >li > a {
	width: 100px;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #fff;
	margin-right: 20px;
}

div.wrapper {
	background-color: #e6e2d3;
}
main {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

main p {
	margin-bottom: 20px;
}

div.back {
	background-color: red;
	padding: 10px;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

div.back a {
	text-decoration: none;
	color: white;
	padding: 5px;
}

div.grandparent {
	background-color: #e6e2d3;
	padding: 50px;
	width: 50%;
	margin: 0 auto 20px;
	position: relative;
	text-align: center;
	margin-bottom: 32px;
}

div.parent {
	background-color: #fff;
	padding: 25px;
}

div.avatar {
	background-color: #b9936c;
	height: 100px;
	width: 100px;
	border-radius: 20px;
	margin: 0 auto;
}

div.name {
	margin: 20px auto;
	color: #b9936c;
}

div.certified {
	background-color: #dac292;
	color: #fff;
	padding: 15px;
	width: 50%;
	text-align: center;
	position: absolute;
	bottom: -18px;	
	left: 0;
	right: 0;
	margin: 0 auto;
}












/*Use clear to fix issues brought by float*/

