* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*consider padding and margin*/
}

body {
	background-color: lightgrey;
}

.wrapper {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}

/*block type*/
h1,
p {
	background-color: lightblue;
	}

h1 {
	/*padding: 50px;*/ /*shorthand*/
/*	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;*/
	padding: 50px;
	border-top: : 1px solid #5d6063; 
	border-right: : 1px solid #5d6063; 
	border-bottom: : 1px solid #5d6063; 
	border-left:  : 1px solid #5d6063; 
	border-: 1px solid #5d6063; 
}

p {
	padding: 20px 0 20px 10px;
	margin-bottom: 50px;
}

/*inline text*/
em, strong {
	background-color: yellow;
	/*display: block;*/ /*from inline to block*/
	display: inline; /*Default behavior*/
}

strong {
/*	padding: 50px;
	margin: 50px;*/
}

/*generic boxes (div) and span*/

/*block type container*/
div {
	background-color: skyblue;
	padding: 20px;
	text-align: center;
	border: 2px solid #5d6063;
	border-radius: 5px;
	width: 50%;
}

/*inline type container*/
span {
	font-size: 2em; /*1em = 16px*/
	color: red;

}
/*explicit size - user specified*/

/*centering with auto margins*/

button {

	padding: 20px 30px;
	border: 1px solid #000;
	background-color: blue;
	color: white;
	border-color: 5px;
	margin: 0 auto; /*align to center*/
	display: block;
}



a,
abbr,
article,
aside,
blockquote,
button,
dd,
del,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
img,
input,
input,
ins,
label,
li,
nav,
ol,
p,
q,
s,
select,
small,
span,
strong,
sub,
sup,
table,
textarea,
ul {

background-color: lightgreen
    position: absolute;
    left: 100px;
    top: 150px;
    width: 50%;
    height: 50%
    padding 10px 20px 30px 40px;
    margin: 50px 60px 70px 80px;

}